body{
  background-image: url(./img.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
*{
  padding: 0px;
  margin: 0px;
}
#formulario{
  padding: 2% 30% 0 3%;
}
.boton{
  text-align: right;
}.tabla{
  padding: 2% 10% 0 3%;
}
